<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <a [routerLink]="['chicago']">Chicago</a>
    <span>|</span>
    <a [routerLink]="['dallas']">Dallas</a>
    <span>|</span>
    <a [routerLink]="['losangeles']">Los Angeles</a>
    <span>|</span>
    <a [routerLink]="['sanjose']">San Jose</a>
    <span>|</span>
    <a [routerLink]="['seattle']">Seattle</a>
    <span>|</span>
    <a [routerLink]="['washington']">Washington</a>

    <router-outlet></router-outlet>

</div>